<template name="methods">
<h2>methods</h2>

 <form class="form-signin" role="form" method="post" enctype='multipart/form-data' name="fileinfo">
    <h2 class="form-signin-heading">上传文件</h2>
    <input id="fulAvatar" name="fulAvatar[]" type="file" class="form-control" />
    <input id="fulAvatar" name="fulAvatar[]" type="file" class="form-control" />	 
    <input id="fulAvatar" name="fulAvatar[]" type="file" class="form-control" />	 	 
    <br/>
    <button id="btnSub" class="btn btn-lg btn-primary" type="submit">上 传</button>
</form>
<hr />
<form class="form-signin" role="form" method="post" enctype='multipart/form-data' id="fileinfo">
	上传文件1<input type="file" name="span" id="http1" />
	<button id="btnSub" class="btn btn-lg btn-primary" type="submit">提交</button>
</form>	
</template>